<h2 mat-dialog-title>Inquiry</h2>
<mat-dialog-content class="modal-content">
  <form>
    <mat-form-field class="full-width-input">
      <mat-label>Message</mat-label>
      <input matInput [(ngModel)]="inquiryDto.message" name="message">
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <mat-label>Inquiry Type</mat-label>
      <mat-select [value]="selectedType" (valueChange)="onTypeChange($event)">
        <mat-option *ngFor="let type of inquiryTypes" [value]="type.value">
            {{ type.label }}
        </mat-option>
    </mat-select>    
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="modal-actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close (click)="onConfirm()">Submit</button>
</mat-dialog-actions>